/* ! to delete */
.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  background-color: cadetblue;
}

@font-face {
  font-family: 'Bosch Sans';
  src: url('fonts/BoschSans-Light.eot');
  src: url('fonts/BoschSans-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/BoschSans-Light.woff') format('woff'),
      url('fonts/BoschSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans';
  src: url('fonts/BoschSans-Regular.eot');
  src: url('fonts/BoschSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/BoschSans-Regular.woff') format('woff'),
      url('fonts/BoschSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans';
  src: url('fonts/BoschSans-Bold.eot');
  src: url('fonts/BoschSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/BoschSans-Bold.woff') format('woff'),
      url('fonts/BoschSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Bosch Sans';
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.slide__modal_link {
  display: flex;
  position: relative;
  color: #fff;
}

.slide__modal img {
  max-width: 100%;
}

.slide__modal {
  height: 184px;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.slide__modal_close {
  right: -160px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.slide__modal_open {
  right: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}


.slide__modal .left {
  height: 184px;
  width: 80px;
  background: url(../img/left_201x457.png) no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.left .top {
  position: absolute;
  top: 20px;
  left: 0;
}

.left .bot {
  position: absolute;
  bottom: 15px;
  left: 0;
}

.left .top,
.left .bot {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.percent {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.date {
  padding-top: 9px;
  padding-right: 3px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  white-space:nowrap;
  text-align: center;
  text-transform: uppercase;
}

.use {
  margin-top: 12px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.akce {
  margin-top: 10px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
}

.slide__modal .right{
  width: 160px;
  height: 182px;
  max-height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.right__img {
  width: 75%;
}

.right__offer {
  margin: 10px;
  font-weight: normal;
  text-align: right;
  color: #000;
}

.use_akce {
  width: 140px;
  margin: 0 10px 10px;
  height: 60px;
  background: url(../img/right_307x151.png) no-repeat;
  background-size: cover;
}

.use_two {
  margin: 0;
  padding-top: 4px;
}

.akce_two {
  margin: 0;
  padding-top: 2px;
}

.slide__btn_close {
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 10px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.slide__btn_close img {
  width: 100%;
}